html
  head
    title Asciido 2 PDF
    script(defer, src='/js/fontawesome-all.js')
  body

    div
      div= message
    div(class='container')
      h1 Create PDF from Asciidoc

      form(ref='uploadForm', id='uploadForm', action='/upload', method='post', encType='multipart/form-data')
        input(type='file', name='uploadFiles', multiple='multiple')
        input(type='submit', value='Upload')

      p
    div
      div Uploaded files so far:
      a(href='/purge') Purge
      ul
        each file in content
          li
            a(href='/uploaded/' + file.path)= file.path

            if file.isAsciidoc
              a(href='/2pdf/' + file.path, style='padding-left: 10px')
                i(class='far fa-file-pdf')
